body {
    max-width: 550px;
    margin: 0 auto;
}

#content {
    height: auto;
    background: #6943FF;
    margin-top: -22px;
    font-family: 'Inter', sans-serif;
}

#title {
    padding: 20px;
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: -0.84px;
    text-align: center;
}

#number-inpt {
    display: block;
    width: 70%; /* Adjust the width as needed */
    max-width: 300px; /* Set a maximum width for larger screens */
    margin: 0 auto; /* Center the input box */
    height: 60px;
    border-radius: 10px; /* Increase border-radius for a more box-like appearance */
    border: 2px solid #B295FF;
    background: #6943FF;
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px; /* Adjust line height for vertical centering */
}

@media screen and (max-width: 550px) {
    #number-inpt {
        width: 100%; /* Make input full-width on smaller screens */
        max-width: none; /* Remove the maximum width on smaller screens */
    }
}

#convert-btn {
    display: block;
    margin: 15px auto;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    padding: 9px 20px;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: bold;
}

#tables {
    background: #1F2937;
    margin-top: -20px;
}

#length-tbl, #volume-tbl, #mass-tbl {
    color: #CCC1FF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    border-radius: 4px;
    background: #273549;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    margin: 20px auto;
    padding: 10px;
}

p {
    color: #fff;
    font-size: 16px;
}
